@charset "UTF-8";

        /* css 작업 */
        html,body {
            margin: 0;
            width: 100%;
            height: 100%;
            font-family: 'Prompt', sans-serif;
        }

        #wrap {
            width: 100%;
            min-height: 100%;
            display: flex;
            flex-direction: column;
        }

        #container,
        #top {
            display: flex;
            flex-direction: row;
            position: relative;
        }
        #top {
            border-bottom: 1.5px solid #A6A6A6;
            flex: 0.1;
        }

        #container {
            flex: 4;
        }

        #left {
            display: flex;
            flex: 0.7;
            flex-direction: row;
        }

        #right {
            display: flex;
            flex: 4;
            flex-direction: column;
        }      

        #left_menu {
            border-right: 1.5px solid #A6A6A6;
            flex: 0.5;
        }

        #left_detail {
            border-right: 1.5px solid #A6A6A6;
            flex: 1.5;
            position: relative;
        }

        #schedule_title {
            border-bottom: 1.5px solid #A6A6A6;
            flex: 0.1;
            height: 100px;
            position: relative;
        }

        #schedule_filter {
            border-bottom: 1.5px solid #A6A6A6;
            flex: 0.05;
            position: relative;
        }

        #top_icon1{
            /* border: 1px solid black; */
            width: 21px;
            height: 21px;
            margin-left: 40px;
            position: relative;
        }

        #top_icon2 {
            /* border: 1px solid black; */
            width: 31px;
            height: 31px;
            margin-left: 25px;
            position: relative;
        }

        
        #top_icon3 {
            width: 23px;
            height: 23px;
            margin-left: 1200px;
            position: relative;
        }

        #top_icon4 {
            width: 23px;
            height: 23px;
            margin-left: 15px;
            position: relative;
        }

        #top_icon5 {
            width: 23px;
            height: 23px;
            margin-left: 15px;
            position: relative;
        }

        #top_icon6 {
            width: 23px;
            height: 23px;
            margin-left: 15px;
            position: relative;
        }

        #top_search {       
            border: 1px solid #aaa ;     
            border-radius: 10px;
            width: 250px;
            height: 21px;
            margin-left: 1580px;
            position: absolute;
            top: 50%;
            margin-top: -17px;
            padding: 5px;
        }

        #top_profile {
            /* border: 2px solid black; */
            background-color: #ddd;
            border-radius: 30px;
            width: 30px;
            height: 30px;
            margin-left: 1860px;
            position: absolute;
            top: 50%;
            margin-top: -20px;
            padding: 6px;
        }
        
        #profile_img {
        	width: 30px;
            height: 30px;
        }

        #left_m_icon {
            /* border: 1px solid black; */
            width: 30px;
            height: 30px;
            position: absolute;
            top: 50%;
            margin-top: -420px;
            margin-left: 20px;
        }

        #detail_menu1 {
            /* border: 1px solid black; */
            color: #808080;
            position: absolute;
            top: 3%;
            margin-left: 5%;
        }

        #detail_menu2 {
            /* border: 1px solid black; */
            color: #808080;
            position: absolute;
            top: 17%;
            margin-left: 5%;
        }

        #list_ul1 {
            /* border: 1px solid black; */
            position: absolute;
            top: 5%;
            list-style: none;
            font-size: 15px;
        }

        #list_ul2 {
            /* border: 1px solid black; */
            position: absolute;
            top: 19%;
            list-style: none;
            font-size: 15px;
        }

        .dot {
            display: inline-block;
            width: 5px;
            height: 5px;
            border: 1px solid #808080;
            border-radius: 10px;
            background-color: #808080;
            margin-right: 6px;
        }

        #img1 {
            border-right: 2px solid #aaa;
            width: 20px;
            height: 20px;
            position: absolute;
            top: 50%;
            margin-top: 5px;
            padding-right: 10px;
        }

        #img2 {
            /* border: 1px solid black; */
            width: 30px;
            height: 30px;
            position: absolute;
            top: 50%;
            margin-top: -5px;
        }

        #img6 {
          margin-top: 4px;  
        }

        #img7 {            
            width: 21px;
            height: 21px;
        }
       

        .top_right_img {
            width: 23px;
            height: 23px;
            position: absolute;
            top: 50%;
            margin-top: 3px;
        }

        #img8 {
            width: 30px;
            height: 30px;
        }

        #img9,
        #img10{
            width: 15px;
            height: 15px;
        }

        #img11 {
            /* border: 1px solid black; */
            width: 20px;
            height: 20px;
            vertical-align: middle;
        }

        #img12 {
            width: 20px;
            height: 20px;
            vertical-align: middle;
        }

        #img13 {
            /* border: 1px solid black; */
            width: 20px;
            height: 20px;
            margin-left: 1400px;
            position: absolute;
            top: 30%;
        }

        #img14 {
            /* border: 1px solid black; */
            width: 20px;
            height: 20px;
            margin-left: 1450px;
            position: absolute;
            top: 30%;
        }

        #img15 {            
            /* border: 1px solid black; */
            width: 20px;
            height: 20px;
            margin-left: 1500px;
            position: absolute;
            top: 30%;
        }


        #sc_title{
            /* border: 1px solid black; */
            margin-left: 20px;
            position: absolute;
            top: 20%;
            height: 30px;
        }

        #top_txt {
            /* border: 1px solid black; */
            margin-left: 15px;
            display: flex;
            align-items: center;
            font-size: 15px;
            font-weight: bold;
        }


        #sc_title_txt {
            height: 20px;
            vertical-align: middle;
        }

        #sc_sub_title{
            position: absolute;
            top: 50%;
            margin-left: 35px;
            font-size: 13px;
            color: #808080;
        }

        #heart {
            /* border: 1px solid black; */
            margin-left: 1550px;
            position: absolute;
            top: 30%;
        }

        #heart_cnt{
            /* border: 1px solid black; */
            height: 20px;
            font-weight: bold;
            margin-left: 5px;
        }

        #filter{
            /* border: 1px solid black; */
            position: absolute;
            top: 30%;
            /* margin-left: 20px; */
        }

        .sc_filter {
            /* border: 1px solid black; */
            border-right: 1px solid #aaa;
            margin-left: 20px;
            padding-right: 7px;
        }

        .sc_section{
            border: 2px solid #ddd;
            background-color: #F2F2F2;
            width: 490px;
            height: 720px;
            margin-top: 20px;
            margin-left: 50px;
            position: absolute;
            top: 10;
        }

        #doing_section {
            margin-left: 570px;
        }

        #done_section {
            margin-left: 1090px;
        }

        .sc_txt{
            /* border: 1px solid black; */
            font-size: 22px;
            font-weight: bold;
            position: absolute;
            top: 2%;
            margin-left: 15px;
        }

        .sc_add {
            /* border: 1px solid black; */
            background-color: #FCFCFC;
            border-radius: 5px;
            position: absolute;
            top: 9%;
            width: 450px;
            height: 40px;
            margin-left: 15px;
            line-height: 40px;
            font-size: 14px;
            color: #aaa;
        }
        
        .sc_box {
            background-color: #F9F9F9;
            border: 1px solid #aaa;
            border-radius: 0px 10px 10px 0px;
            border-left: 4px solid black;
            position: relative;
            top: 15%;
            width: 450px;
            height: 170px;
            margin-left: 15px;
            margin-top: 20px;
        }

        #todo_1 {
            border-left: 4px solid #FCD54A;
        }

        #todo_2 {
            border-left: 4px solid #FB9297;
        }

        #doing_1 {
            border-left: 4px solid #75B5FB;
        }

        #doing_2 {
            border-left: 4px solid #A1DA53;
        }

        #doing_3 {
            border-left: 4px solid #FCD54A;
        }

        #done_1 {
            border-left: 4px solid #75B5FB;
        }

        .sc_box_priority {
            width: 20px;
            height: 20px;
            margin-left: 7px;
        }

        .priority_img {
            width: 20px;
            height: 20px;
            vertical-align: middle;
            position: absolute;
            top: 7%;
        }

        .sc_box_title{
            /* border: 1px solid black; */
            position: absolute;
            top: 5%;
            margin-left: 30px;
        }

        .sc_box_tag{
            border-radius: 100px;
            background-color: #E7E7E7;
            position: absolute;
            top: 25%;
            margin-left: 25px;
            padding: 4px 10px 4px 10px;
        }


        #todo_tag1_1 {
            margin-left: 110px;
        }

        .sc_box_content {
            /* border: 1px solid black; */
            position: absolute;
            top: 50%;
            margin-left: 25px;
            width: 400px;
            height: 50px;
            overflow: hidden;
        }

        .sc_box_date {
            position: absolute;
            top: 85%;
            margin-left: 25px;
            font-size: 13px;
            color: #aaa;
        }


        